body {
    background-color: #fdfeff;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 50px auto;
}

.slider {
    width: 100%;
}


.center-table {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table-container {
    width: 70%; 
    max-width: 800px; 
}

slider-number-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.number-input {
    width: 60px;
}